/env
/__pycache__
/tests/.pytest_cache
/tests/__pycache__
/tests/api/__pycache__
/tests/utils/__pycache__
/tests/testedb.sqlite
/db.sqlite
/tests/unit/model/__pycache__
/models/__pycache__
models/__pycache__/papel.cpython-39.pyc
models/__pycache__/papel.cpython-39.pyc
